@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.nav {
  position: relative;
}
.nav::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: #6b26b7;
  bottom: -5px;
  left: 0;
  transition: 0.5s;
}
.activeClass {
  position: relative;
  color: #6b26b7;
  font-size: large;
}
.activeClass::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 50%;
  background-color: #6b26b7;
  bottom: -5px;
  left: 0;
  transition: 0.2s;
}
.nav:hover::after {
  width: 100%;
}
.activeClass:hover::after {
  width: 100%;
}

.no-scroll {
  overflow: hidden;
}




